#rect{
  width:0px;
  height:0px;
  background:lightblue;
  border-top:50px solid green;
  border-right:50px solid red;
  border-left:50px solid yellow;
  border-bottom:50px solid blue;
}

#rect2{
  width:0px;
  height:0px;
  background:transparent;
  border-top:50px solid transparent;
  border-right:50px solid transparent;
  border-left:50px solid yellow;
  border-bottom:50px solid yellow;
}

#rect3{
  width:0px;
  height:0px;
  background:transparent;
  border-right:50px solid transparent;
  border-left:50px solid transparent;
  border-bottom:100px solid blue;
}